# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
*.egg
dist/
build/
*.so
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
build/
dist/
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.*
!/.env.example

# Docker
docker-compose.override.yml